body {
  width: 100%;
}

.main {
  width: 100%;
  padding: 30px 100px;
  box-sizing: border-box;
}

.contents {
  width: 100%;
}

h2{
  margin: 50px 0;
}

.user_check_box {
  width: 100%;
}

.check_box dl {
  width: 100%;
}

.check_box dl dd {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #eee;
}

.check_box dl dt {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.check_box dl dt a {
  font-size: 12px;
  color: #53a1fa;
}

.check_box dl dt a:hover {
  text-decoration: underline;
}

.check_box table, th, tr, td {
  border: none;
}

.check_box table {
  width: 100%;
  border: 1px solid #333;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 50px;
}

.check_box tbody:first-child {
  border-bottom: 1px solid #333;
}

.check_box tr:first-child {
  border-bottom: 1px solid #333;
}
.check_box tr th {
  border-right: 1px solid #333;
  background-color: #ECBF2F;
  padding: 10px 0;
}

.check_box tr th:first-child{
  width: 45%;
}

.check_box tr th:nth-child(2){
  width: 15%;
}

.check_box tr th:nth-child(3){
  width: 10%;
}

.check_box tr th:nth-child(4){
  width: 10%;
}
.check_box tr th:nth-child(5){
  width: 20%;
}

.check_box td {
  border-right: 1px solid #333;
  padding: 10px;
}

.contents button {
  padding: 20px 30px;
  background-color: #ECBF2F;
  cursor: pointer;
}

.contents button:hover {
  background-color: #614f13;
  color: #fff;
}

/* モーダル */

.modal {
  display: none; /* 初期は非表示 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0,0,0,0.6);
  /* justify-content: center; */
  align-items: center;
  z-index: 1000;
}

.modal_content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.modal_content input {
  width: 100%;
  font-size: 16px;
  line-height: 2;
}

.close {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.modal_content div {
  margin-bottom: 30px;
}

.modal_content button{
  padding: 10px 20px;
  background-color: #ECBF2F;
  cursor: pointer;
  text-align: center;
}

.modal_content button:hover{
  background-color: #614f13;
  color: #fff;
}
