body {
  width: 100%;
}

.main {
  width: 100%;
  padding: 30px 100px;
  box-sizing: border-box;
}

.contents {
  width: 100%;
}

.contents ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.contents ul li {
  width: calc((100% / 4) - 40px);
  box-sizing: border-box;
}

.product_box {
  margin-bottom: 20px;
}

.product_box a:hover img{
  opacity: 0.7;
}

.contents ul li img {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.2s;
}

.main button {
  display: block;
  border: none;
  background-color: #ECBF2F;
  color: #333;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

.main button:hover {
  background-color: #614f13;
  color: #fff;
}


/* モーダルのスタイル */
.modal {
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal.show {
  visibility: visible;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.modal_content {
  background: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  border-radius: 8px;
  position: relative;
  display: flex;
  gap: 30px;

  transform: scale(0.8);
  transition: transform 0.3s ease;
}

.modal.show .modal_content {
  transform: scale(1);
}

.modal_image {
  width: 40%;
}

.modal_text {
  width: 60%;
  
}

.modal_text h2 {
  margin-bottom: 20px;
}

.modal_proce {
  margin-bottom: 10px;
  font-weight: bold;
}

.modal_comment {
  line-height: 2;
  margin-bottom: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.modal_image {
  width: 50%;

}
.modal_image img {
  width: 100%;
  height: auto;
  border-radius: 0;
}
